	<div class="col-xs-3 col-sm-3 cricApp-firstBatsman-img">
        <div>
        </div>
	</div>
	<div class="col-xs-9 col-sm-9 cricApp-firstBatsman" ng-controller="newBatsmanAdded">
        <div class="row">
            <div class="col-xs-8 col-sm-8 cricApp-firstBatsman-name-score">
          	    <h3 ng-bind="player"></h3>
                <p>-</p>
	            <h2>43</h2>
    	        <p>(</p>
            	<h4>13</h4>
	            <p>)</p>
    	    </div>
        	<div class="col-xs-4 col-sm-4 cricApp-firstBatsman-Out">
             	<button id="firstBatsman-out" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span>Out</button>
	        </div>
        </div>
        <div class="row">
           	<div class="col-xs-12 col-sm-12 cricApp-firstBatsman-Runs">
				<button class="btn btn-default btn-circle">0</button>
                <button class="btn btn-default btn-circle">1</button>
                <button class="btn btn-default btn-circle">2</button>
                <button class="btn btn-default btn-circle">3</button>
                <button class="btn btn-default btn-circle">4</button>
                <button class="btn btn-default btn-circle">5</button>
                <button class="btn btn-default btn-circle">6</button>
            </div> 
        </div>
    </div>   
